In [1]:
import sys
sys.path.append('../data/')
sys.path.append("../scripts/")
from utils import look_for_csv

## Load dataset

In [7]:
df = look_for_csv("../data")
df.head()

          City Gender  Age   Income Illness
Number
1       Dallas   Male   41  40367.0      No
2       Dallas   Male   54  45084.0      No
3       Dallas   Male   42  52483.0      No
4       Dallas   Male   40  40941.0      No
5       Dallas   Male   46  50289.0      No

In [8]:
df.shape

(150000, 5)

## Hashing passwords

In [1]:
import streamlit_authenticator as stauth

In [4]:
hashed_passwords = stauth.Hasher(['YOUR_PASSWORD']).generate()
hashed_passwords

['$2b$12$dbOD6wL3Kxqw0o7JtoeQJeD6KezA2Y5.rxc/dRiYkiXvfl8nZhcKW']

# Generate fake data

In [2]:
from utils import generate_fake_data
df = generate_fake_data(100)

In [3]:
df.to_csv("fake_data.csv")

In [4]:
df.head()

        DNI     Nombre   Apellido  Edad  Sueldo Bruto
0  20353925  Alexander  Fernandez    53        145980
1  31743491      David   Gonzalez    29        395337
2  32121700     Olivia     Harris    28        507754
3  22280811     Alison     Miller    56        188390
4  24421014      Haley   Gonzales    28        500307